name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore Core
      run: dotnet restore FastMath.Core.Tests/FastMath.Core.Tests.csproj

    - name: Build Core
      run: dotnet build FastMath.Core.Tests/FastMath.Core.Tests.csproj --configuration Release --no-restore

    - name: Run Core unit tests
      run: dotnet test FastMath.Core.Tests/FastMath.Core.Tests.csproj --configuration Release --no-build
